---
interface Props {
  name: string;
  position: string;
  comment: string;
  avatar: string;
}

const { name, position, comment, avatar } = Astro.props;
---

<article class="bg-primary-400 rounded-lg px-6 pb-6 pt-8">
  <p class="mb-4 leading-7">{comment}</p>
  <div class="flex items-center justify-start gap-4">
    <img class="size-[45px] rounded-full" src={avatar} alt={name} />
    <div class="flex flex-col">
      <h4 class="font-bold">{name}</h4>
      <span>{position}</span>
    </div>
  </div>
</article>
